{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Famus Gaming Arcade - The ultimate gaming experience with a wide variety of games to play, tips, and more.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Famus Gaming Arcade">
    <meta property="og:description" content="Famus Gaming Arcade offers an exciting collection of online games, game tips, and a platform to connect with fellow gamers.">
    <meta property="og:image" content="{% static 'images/logo/famuslogo7.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Famus Gaming Arcade">
    <meta name="twitter:description" content="Explore Famus Gaming Arcade for the best gaming tips, gallery, and experience the thrill of games.">
    <meta name="twitter:image" content="{% static 'images/logo/famuslogo7.png' %}">
    <meta name="twitter:creator" content="@yourtwitterhandle">
    <meta name="google-site-verification" content="6s108aj0DinBDgnFereRJyQxumXAAC-7jiLH7u_jwCI">
    

    <script type="application/ld+json">
        {
           "@context": "https://schema.org",
           "@type": "Organization",
           "name": "Famus Game Arcade",
           "url": "https://likefamus.com",
           "sameAs": [
              "https://www.facebook.com/yourprofile",
              "https://www.twitter.com/yourprofile"
           ],
           "logo": "https://likefamus.com/static/images/famuslogo7.png",
           "contactPoint": {
              "@type": "ContactPoint",
              "email": "support@likefamus.com",
              "contactType": "Customer Service"
           }
        }
        </script>
        

    <title>{% block title %} Famus Gaming Arcade {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/gaming.css' %}">   
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">      
    {% block head %}
    {% endblock %}
    

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'home' %}" class="logo">
                            <img src="{% static 'images/logo/famuslogo7.png' %}" alt="Famus Gaming Arcade Logo" style="width: 158px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li><a href="{% url 'games' %}">Gallery</a></li>
                            <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    {% block content %}
    {% endblock %}

    <!-- Google AdSense Ad Below Content -->
    <div class="ad-container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-client="ca-pub-9816738812564850"
        data-ad-slot="f08c47fec0942fa0"
        data-ad-format="auto"></ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

 <!-- ***** Footer Area Start ***** -->
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2048 Famus Games. All rights reserved. &nbsp;&nbsp; <br>
                    <a rel="nofollow" href="https://likefamus.com" target="_blank">Design: VorinVista</a> &nbsp;&nbsp; | 
                    <a href="/privacy-policy" target="_blank">Privacy Policy</a> &nbsp;&nbsp; | 
                    <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9816738812564850"
     crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}

</body>

</html>
