{% extends "FamusApp/base.html" %}

{% block content %}
<div class="container">


    <h1>Terms of Service</h1>
    <p>Last updated: [Date]</p>

    <p>Welcome to Famus Game Arcade! By using our website, you agree to these Terms of Service. Please read them
        carefully to understand your rights and responsibilities.</p>

    <h2>1. Eligibility</h2>
    <p>By accessing our website, you confirm that you meet any applicable age requirements in your country and have the
        legal capacity to agree to these terms.</p>

    <h2>2. Account Requirements</h2>
    <p>Famus Game Arcade does not require users to create an account to access content. All games and services are
        publicly accessible without the need for registration, and we have no plans to introduce accounts in the future.
    </p>

    <h2>3. Prohibited Uses</h2>
    <p>While using our website, you agree not to:
    <ul>
        <li>Engage in unauthorized access, hacking, or other malicious activities.</li>
        <li>Use automated means, such as bots or scrapers, to access or monitor content on the site.</li>
        <li>Violate any local, national, or international laws in connection with your use of the site.</li>
    </ul>
    </p>

    <h2>4. Intellectual Property</h2>
    <p>All content on Famus Game Arcade, including games, graphics, and text, is either owned or licensed by us and is
        protected by copyright laws. You may not copy, reproduce, or distribute any content from the site without prior
        permission.</p>

    <h2>5. Disclaimer of Liability</h2>
    <p>Famus Game Arcade is provided "as is" without warranties of any kind. We are not liable for any direct, indirect,
        incidental, or consequential damages that may arise from using our site.</p>

    <h2>6. Modifications to Terms</h2>
    <p>We reserve the right to modify these Terms of Service at any time. Any changes will be posted on this page with
        an updated date. By continuing to use the site, you agree to any modified terms.</p>

    <h2>7. Governing Law</h2>
    <p>These terms are governed by the laws of [Your Country/State]. Any disputes related to these terms will be
        resolved in the appropriate legal venues in [Your Country/State].</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms of Service, please contact us at <a
            href="mailto:support@likefamus.com">support@likefamus.com</a>.</p>
</div>
{% endblock %}